<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
  </head>
  <body>
    <div class="filter">
      <input id="filter" class="form-control" placeholder="Filter by title"/>
      <button id="title_filter">Title filter - A-Z</button>
      <button id="price_filter">Price filter - ascending</button>
    </div>
    <ul id="list-container"></ul>
  </body>
</html>
