<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </head>
  <body>
    <div class="page-header" style="padding-left: 10px;">
      <h1>List</h1>
    </div>
    <button id="amazon_api" class="btn btn-primary" >Amazon API</button>
    <button id="ebay_api" class="btn btn-primary" >Ebay API</button>
    <button id="walmart_api" class="btn btn-primary" >Walmart API</button>
    <div id="results"></div>
  </body>
</html>
