<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script type="text/javascript" src="/scripts/index.js"></script>
  </head>
  <body>
    <div class="page-header" style="padding-left: 10px;">
      <h1>List</h1>
    </div>
    <button id="amazon_api" class="btn btn-primary" >Amazon API</button>
    <button id="ebay_api" class="btn btn-primary" >Ebay API</button>
    <button id="walmart_api" class="btn btn-primary" >Walmart API</button>

    <ul id="list-container">
      <li class="item">
        <img class="productImage" src="https://i5.walmartimages.com/asr/653f3926-ff28-4134-8b61-241d096869c1_1.7b3426ba2551ea0802c2499374fe20fa.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
        <div class="productTitle">Polaroid Red IE826-RED-WM Digital Camera with 18 Megapixels and 8x Optical Zoom</div>
        <div class="productDescription">Take quality photos with the Polaroid Red IE826-RED-WM 18 MP Digital Camera with 8x Optical Zoom. It allows you to snap high-definition images and you can also enjoy 1080p HD-quality video when you need to capture the action. Measuring just 2.4cm deep, this Polaroid digital camera is light and easy to carry with you. It has a rechargeable lithium-ion battery for reliable results time and time again. The camera is also equipped with an SD card slot to expand your storage options. It is made with durability to ensure it holds up against repeated use. It has a 2.4&quot; display for simple viewing and playback. Use it to record those special moments as they happen.</div>
        <div class="productPrice">49.62 USD</div>
      </li>
    </ul>
  </body>
</html>
