.productImage {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
}

.productDescription {
  max-height: 100px;
  font-size: 0.8em;
  padding: 10px;
  display: inline-block;
  width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productTitle {
  font-size: 1.2em;
  width: 80%;
  padding: 10px;
  display: inline-block;
}

.productPrice {
  right: 20px;
  padding: 10px;
  display: inline-block;
  position: absolute;
}

.filter {
  position: absolute;
  left: 5%;
  padding: 20px;
}

ul {
  padding: 20px;
  max-width: 90%;
  position: absolute;
  top: 50px;
  left: 5%;
  right: 5%;
}

li {
  background: white;
  margin: 5px;
  display: -webkit-inline-box;
  box-shadow: 2px 2px 5px 0px #888888;
  width: 100%;
}

li:hover {
  cursor: pointer;
}

body {
  background: gainsboro;
}